@page "{id}"
@model RazorPagesDemo.Pages.Employees.DeleteModel
@{
    ViewData["Title"] = "Delete";
    ViewData["ShowButtons"] = false;
}

<h1 class="mt-4 mb-4">Delete Confirmation</h1>

<div class="alert alert-danger">
    <partial name="_DisplayEmployeePartial" model="Model.Employee" view-data="ViewData" />
    <h5>Are you sure you want to delete employee - @Model.Employee.Name</h5>
    <form method="post">
        <button type="submit" class="btn btn-danger">Yes</button>
        <a asp-page="/Employees/Index" class="btn btn-primary">No</a>
    </form>
</div>