@using RazorPagesDemo.Models

@model IEnumerable<DeptHeadCount>

<h3>Employee Head Count Summary</h3>

<table class="my-table mt-4 mb-4">
    <thead>
        <tr>
            <th>Department</th>
            <th>Head Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var deptHeadCount in Model)
        {
            <tr>
                <td>@deptHeadCount.Department</td>
                <td>@deptHeadCount.Count</td>
            </tr>
        }
    </tbody>
</table>

